<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Stock Searcher</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
	
	<link href="{{ url_for('static', filename='navbar2.css')}}" type="text/css" rel="stylesheet">
	
	<link href="navbar2.css" rel="stylesheet" type="text/css"/>
	<style>
	.sus{
		background-color: #262626;
	}
	</style>
</head>
<body id="home">
	<div class="box-area">
		<header>
			<div class="wrapper">
				<div class="logo">
					<a href="#home">Stock Searcher</a>
				</div>
				<nav>
					<a href="#home" class="linkarea">home</a> <a href="#data" class="linkarea">data</a> <a href="#charts" class="linkarea">charts</a> <a href="#bls" class="linkarea">balance sheet</a> <a href="#analysis" class="linkarea">analysis</a>
				</nav>
			</div>
		</header>

		<div class="banner-area">
		<br>
		<br>
		<br>
		<br>

			{% block form %}
			{% endblock %}
			
		
		</div>
		<div class="content-area" style = "background: #ebebeb">
			<div class="wrapper">
				{% block name %}
				{% endblock %}
			</div>
			</br>
			</br>
			<div class="wrapper" id="data">
				<h1>Data</h1>
				<p>{% block data %}{% endblock %}</p>
			</div>
			</br>
			<div class="wrapper" id="charts">
				<h1>Charts</h1>
				<p>{% block charts %}{% endblock %}</p>
			</div>
			</br>
			<div class="wrapper" id="bls">
				<h1>Balance Sheet</h1>
				<p>{% block reccomendations %}{% endblock %}</p>
			</div>
			</br>
			<div class="wrapper" id="analysis">
				<h1>Analyst Estimates</h1>
				<p>{% block analysis %}{% endblock %}</p>
			</div>
			</br>
		</div>
	</br>
	</div>
</body>
</html>
