{% extends "navbar2extension.html" %}

{% block form %}
<div class="container">
	<form action="/" method="post" class="sus">
		<p class="has-dynamic-label">
	    	<input type="text" class="dynamic-label-input" placeholder="enter a ticker" name='name'> <!-- "required" was at the end of this line -->
	    	<input type='submit'>
		</p>
	</form>
</div>
{% endblock %}


{% block name %}
<style>
	.banner-area h1 {
		padding-top: 8%;
		font-size: 70px;
		font-family: poppins;
		text-transform: uppercase;
		color: #fff;
	}
	.content-area h1 {
		font-family: poppins;
		letter-spacing: 4px;
		padding-top: 30px;
		font-size: 60px;
		margin: 0;
	}
</style>
<h1>{{user}}</h1>
{% endblock %}

{% block data %}
<style>
	table {
	  border-collapse: collapse;
	  margin: 25px 0;
	  font-size: 0.9em;
	  font-family: sans-serif;
	  min-width: 400px;
	  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	  margin-left: auto;
	  margin-right: auto;
	}
  
	thead tr {
	  background-color: #333837;
	  color: #ffffff;
	  text-align: center;
	}
  
	th,
	td {
		padding: 12px 15px;
	}
  
	tbody tr {
	  border-bottom: 1px solid #dddddd;
	}
  
	tbody tr:nth-of-type(even) {
		background-color: #f3f3f3;
	}
  
	tbody tr:last-of-type {
		border-bottom: 2px solid #333837;
	}
  
	tbody tr.ar {
	  font-weight: bold;
	  color: #009879;
	}
</style>
{{data}}
{% endblock %}


{% block charts %}
<h2>{{he1}}</h2>
</br>
{{charts}}
</br>
<h2>{{he2}}</h2>
</br>
{{charts2}}
</br>
<h2>{{he3}}</h2>
</br>
{{charts3}}
{% endblock %}


{% block reccomendations %} 
{{balance}}
{% endblock %}
{% block analysis %}
{{analyst1}}
{{analyst2}}
{{analyst3}}
{{analyst4}}
{{analyst5}}
{% endblock %}
